.card-pics {
    display: inline-block;
    margin-top: 30px;
    height: 175px;
    width: 120px;
}

.card-container {
    flex-direction: row;
}

.hand {
    width: fit-content;
}

.hand-list {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}