.board {
  /* height: 500px; */
  margin-top: auto;
  margin-bottom: auto;
  /* width: 1000px; */
  flex-direction: row;
  text-align: center; 
  justify-content: space-around;
  margin-left: -100px;
  /* display: flex;
  background-image: url('./Components/images/blackjack.jpg');
  background-size: 100%;
  background-repeat: no-repeat; */
}


/*.App-header {
    background-image: url('./Components/images/blackjack.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .board{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    flex-direction: row;
    text-align: center;
    }
*/